.ui-li-heading { font-size: 16px; font-weight: bold; display: inline; margin: .6em 0; }

p img { width: 60%; height: 60%; text-align: center; }

img.thumbnail {
	border:0px solid #ddd;
	max-height:75px;max-width:75px;
	/*-moz-border-radius:5px; -webkit-border-radius:5px;*/
	padding-top: 10px;padding-left:5px;
}
p.info {
	font: 12px Arial,Helvetica,sans-serif;
	line-height: 150%;
	color: #000;
	float: left;
}

.saying {
	font: 14px Arial,Helvetica,sans-serif;
	line-height: 150%;
	color: #000;
}

.date {	
	font: 12px Arial,Helvetica,sans-serif;
	line-height: 150%;
	color: #666;
}

.p1 {
	font: 12px Arial,Helvetica,sans-serif;
	line-height: 150%;
	color: #666;
}

.entry img {
	width: 100%;
	height: auto;
}

.bigstar50, .bigstar45, .bigstar40, .bigstar35, .bigstar30, .bigstar25, .bigstar20, .bigstar15, .bigstar10, .bigstar05, .bigstar00 {
	background: url(images/all_bigstars.gif) no-repeat;
	height: 14px;
	display: block;
	color: #999;
	overflow: hidden;
	font-size: 14px;
	line-height: 100%;
	width: 75px;
}

.bigstar50 {
	background-position: 0 0;
}

.bigstar45 {
	background-position: 0 -15px;
}

.bigstar40 {
	background-position: 0 -30px;
}

.bigstar35 {
	background-position: 0 -45px;
}

.bigstar30 {
	background-position: 0 -60px;
}

.bigstar25 {
	background-position: 0 -75px;
}

.bigstar20 {
	background-position: 0 -90px;
}

.bigstar15 {
	background-position: 0 -105px;
}

.bigstar10 {
	background-position: 0 -120px;
}

.bigstar05 {
	background-position: 0 -135px;
}

.bigstar00 {
	background-position: 0 -150px;
}

.new {
	width: 30px;
	height: 30px;
	top:0;
	right:0;
	position: absolute;
}

.nav-glyphish .ui-btn .ui-btn-inner { padding-top: 40px !important; }
.nav-glyphish .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }
		
#home .ui-icon { background:  url(../images/home.png) 50% 50% no-repeat; background-size: 24px 22px; }
#activity .ui-icon { background:  url(../images/activity.png) 50% 50% no-repeat; background-size: 24px 22px; }
#favorite .ui-icon { background:  url(../images/books.png) 50% 50% no-repeat; background-size: 24px 22px; }
#news .ui-icon { background:  url(../images/news.png) 50% 50% no-repeat; background-size: 24px 22px; }
#about .ui-icon { background:  url(../images/about.png) 50% 50% no-repeat; background-size: 24px 22px; }

.ui-bar-a {
	background: #2990cb;
}
